In [21]:
import pandas as pd
test_summary = pd.read_csv("Test_summary(1).csv", delimiter='\t')

In [22]:
test_summary

,dataset,No of cells,1_in_col_1,1_in_col_2,1_in_col_3,1_in_col_4,1_in_col_5,1_in_col_6,1_in_col_7,1_in_col_8,...,max 1 in a row,min 1 in a row,max 2 in a row,min 2 in a row,max 0 in a row,min 0 in a row,avg no 1 in a row,avg no 2 in a row,avg no 0 in a row,avg no 0 and 2 in a row
0,1,4,0.000000,0.250000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,4,3,4,3,4,3,0.325000,0.325000,0.350000,6.750000
1,2,19,0.684211,1.000000,0.947368,0.473684,0.368421,1.000000,0.736842,0.526316,...,10,4,4,0,3,0,0.700000,0.178947,0.121053,3.000000
2,3,20,0.250000,0.950000,0.950000,0.250000,0.100000,1.000000,0.950000,0.300000,...,10,4,4,0,3,0,0.590000,0.305000,0.105000,4.100000
3,4,6,0.000000,0.166667,0.000000,0.333333,0.000000,0.500000,0.000000,0.000000,...,3,1,6,2,7,1,0.183333,0.366667,0.450000,8.166667
4,5,4,0.000000,1.000000,0.000000,0.000000,0.750000,0.500000,1.000000,0.000000,...,4,2,2,1,7,4,0.325000,0.125000,0.550000,6.750000
5,6,20,0.000000,0.900000,0.300000,0.500000,0.400000,0.550000,0.750000,0.200000,...,9,1,5,1,5,0,0.465000,0.280000,0.255000,5.350000
6,7,9,0.000000,0.777778,0.000000,0.000000,0.888889,0.555556,0.888889,0.000000,...,5,3,3,1,6,2,0.344444,0.177778,0.477778,6.555556
7,8,19,0.000000,0.947368,0.315789,0.578947,0.842105,0.263158,0.947368,0.421053,...,6,3,4,0,6,1,0.494737,0.210526,0.294737,5.052632
8,9,13,0.076923,0.769231,0.615385,0.000000,0.307692,0.692308,0.769231,0.153846,...,5,2,4,0,8,2,0.415385,0.223077,0.361538,5.846154
9,10,14,0.000000,0.857143,0.071429,0.142857,0.928571,0.571429,0.785714,0.357143,...,6,3,5,2,4,0,0.435714,0.350000,0.214286,5.642857
10,11,29,0.862069,1.000000,0.793103,0.862069,0.206897,0.000000,1.000000,0.000000,...,8,2,1,0,7,2,0.600000,0.037931,0.362069,4.000000
11,12,20,0.000000,0.300000,0.350000,0.000000,0.200000,0.800000,0.250000,0.100000,...,5,1,3,1,6,3,0.275000,0.255000,0.470000,7.250000
12,13,4,0.000000,0.250000,0.500000,0.000000,1.000000,1.000000,0.500000,0.250000,...,5,4,5,3,2,0,0.450000,0.400000,0.150000,5.500000
13,14,21,0.380952,0.809524,0.285714,0.000000,0.523810,0.571429,0.761905,0.047619,...,7,2,4,0,7,0,0.438095,0.219048,0.342857,5.619048
14,15,7,0.714286,1.000000,0.857143,0.857143,0.428571,0.000000,1.000000,0.000000,...,7,5,3,0,5,2,0.600000,0.085714,0.314286,4.000000
15,16,12,0.000000,0.500000,0.000000,0.000000,0.250000,0.750000,0.000000,0.000000,...,3,1,5,1,8,2,0.200000,0.316667,0.483333,8.000000
16,17,13,0.384615,0.769231,0.230769,0.000000,0.153846,0.846154,0.538462,0.000000,...,5,2,5,2,6,1,0.392308,0.400000,0.207692,6.076923
17,18,10,0.000000,1.000000,0.700000,0.300000,0.200000,1.000000,0.600000,0.000000,...,6,3,6,2,3,0,0.480000,0.380000,0.140000,5.200000
18,19,11,0.636364,1.000000,0.818182,0.454545,0.454545,0.454545,1.000000,0.090909,...,8,3,3,0,6,0,0.618182,0.127273,0.254545,3.818182
19,20,9,0.111111,0.777778,0.333333,0.111111,0.111111,1.000000,0.111111,0.111111,...,10,2,6,0,4,0,0.377778,0.366667,0.255556,6.222222
20,21,15,0.000000,0.466667,0.000000,0.000000,0.000000,0.733333,0.000000,0.000000,...,3,1,6,4,4,2,0.220000,0.520000,0.260000,7.800000
21,22,9,0.000000,0.666667,0.111111,0.000000,0.000000,1.000000,0.222222,0.000000,...,4,2,3,2,5,3,0.300000,0.244444,0.455556,7.000000
22,23,14,0.357143,0.785714,1.000000,0.357143,0.285714,1.000000,0.571429,0.000000,...,8,4,6,1,3,0,0.535714,0.364286,0.100000,4.642857
23,24,18,0.055556,1.000000,0.333333,0.111111,0.111111,0.722222,0.500000,0.055556,...,10,2,6,0,4,0,0.377778,0.394444,0.227778,6.222222
24,25,27,0.259259,1.000000,1.000000,0.703704,1.000000,1.000000,0.888889,0.777778,...,10,5,4,0,2,0,0.796296,0.137037,0.066667,2.037037
25,26,4,0.500000,0.500000,0.500000,0.250000,0.500000,0.500000,0.250000,0.250000,...,8,1,2,0,7,2,0.450000,0.125000,0.425000,5.500000
26,27,6,0.000000,1.000000,0.000000,0.000000,0.333333,1.000000,0.666667,0.000000,...,5,2,5,1,4,3,0.333333,0.300000,0.366667,6.666667
27,28,23,0.173913,1.000000,1.000000,0.130435,0.565217,1.000000,0.913043,0.565217,...,9,5,3,1,3,0,0.656522,0.186957,0.156522,3.434783
28,29,29,0.482759,1.000000,0.551724,0.413793,0.448276,0.862069,0.724138,0.206897,...,9,3,6,1,6,0,0.589655,0.213793,0.196552,4.103448
29,30,15,0.666667,1.000000,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,10,2,4,0,6,0,0.680000,0.126667,0.193333,3.200000

In [23]:
test_summary.to_csv(r'new_test_summary.csv')

In [25]:
new_test_summary = pd.read_csv('new_test_summary.csv')

In [26]:
new_test_summary

,Unnamed: 0,dataset,No_of_cells,1_in_col_1,1_in_col_2,1_in_col_3,1_in_col_4,1_in_col_5,1_in_col_6,1_in_col_7,...,max 1 in a row,min 1 in a row,max 2 in a row,min 2 in a row,max 0 in a row,min 0 in a row,avg no 1 in a row,avg no 2 in a row,avg no 0 in a row,avg no 0 and 2 in a row
0,0,1,4,0.000000,0.250000,1.000000,0.000000,0.000000,1.000000,0.000000,...,4,3,4,3,4,3,0.325000,0.325000,0.350000,6.750000
1,1,2,19,0.684211,1.000000,0.947368,0.473684,0.368421,1.000000,0.736842,...,10,4,4,0,3,0,0.700000,0.178947,0.121053,3.000000
2,2,3,20,0.250000,0.950000,0.950000,0.250000,0.100000,1.000000,0.950000,...,10,4,4,0,3,0,0.590000,0.305000,0.105000,4.100000
3,3,4,6,0.000000,0.166667,0.000000,0.333333,0.000000,0.500000,0.000000,...,3,1,6,2,7,1,0.183333,0.366667,0.450000,8.166667
4,4,5,4,0.000000,1.000000,0.000000,0.000000,0.750000,0.500000,1.000000,...,4,2,2,1,7,4,0.325000,0.125000,0.550000,6.750000
5,5,6,20,0.000000,0.900000,0.300000,0.500000,0.400000,0.550000,0.750000,...,9,1,5,1,5,0,0.465000,0.280000,0.255000,5.350000
6,6,7,9,0.000000,0.777778,0.000000,0.000000,0.888889,0.555556,0.888889,...,5,3,3,1,6,2,0.344444,0.177778,0.477778,6.555556
7,7,8,19,0.000000,0.947368,0.315789,0.578947,0.842105,0.263158,0.947368,...,6,3,4,0,6,1,0.494737,0.210526,0.294737,5.052632
8,8,9,13,0.076923,0.769231,0.615385,0.000000,0.307692,0.692308,0.769231,...,5,2,4,0,8,2,0.415385,0.223077,0.361538,5.846154
9,9,10,14,0.000000,0.857143,0.071429,0.142857,0.928571,0.571429,0.785714,...,6,3,5,2,4,0,0.435714,0.350000,0.214286,5.642857
10,10,11,29,0.862069,1.000000,0.793103,0.862069,0.206897,0.000000,1.000000,...,8,2,1,0,7,2,0.600000,0.037931,0.362069,4.000000
11,11,12,20,0.000000,0.300000,0.350000,0.000000,0.200000,0.800000,0.250000,...,5,1,3,1,6,3,0.275000,0.255000,0.470000,7.250000
12,12,13,4,0.000000,0.250000,0.500000,0.000000,1.000000,1.000000,0.500000,...,5,4,5,3,2,0,0.450000,0.400000,0.150000,5.500000
13,13,14,21,0.380952,0.809524,0.285714,0.000000,0.523810,0.571429,0.761905,...,7,2,4,0,7,0,0.438095,0.219048,0.342857,5.619048
14,14,15,7,0.714286,1.000000,0.857143,0.857143,0.428571,0.000000,1.000000,...,7,5,3,0,5,2,0.600000,0.085714,0.314286,4.000000
15,15,16,12,0.000000,0.500000,0.000000,0.000000,0.250000,0.750000,0.000000,...,3,1,5,1,8,2,0.200000,0.316667,0.483333,8.000000
16,16,17,13,0.384615,0.769231,0.230769,0.000000,0.153846,0.846154,0.538462,...,5,2,5,2,6,1,0.392308,0.400000,0.207692,6.076923
17,17,18,10,0.000000,1.000000,0.700000,0.300000,0.200000,1.000000,0.600000,...,6,3,6,2,3,0,0.480000,0.380000,0.140000,5.200000
18,18,19,11,0.636364,1.000000,0.818182,0.454545,0.454545,0.454545,1.000000,...,8,3,3,0,6,0,0.618182,0.127273,0.254545,3.818182
19,19,20,9,0.111111,0.777778,0.333333,0.111111,0.111111,1.000000,0.111111,...,10,2,6,0,4,0,0.377778,0.366667,0.255556,6.222222
20,20,21,15,0.000000,0.466667,0.000000,0.000000,0.000000,0.733333,0.000000,...,3,1,6,4,4,2,0.220000,0.520000,0.260000,7.800000
21,21,22,9,0.000000,0.666667,0.111111,0.000000,0.000000,1.000000,0.222222,...,4,2,3,2,5,3,0.300000,0.244444,0.455556,7.000000
22,22,23,14,0.357143,0.785714,1.000000,0.357143,0.285714,1.000000,0.571429,...,8,4,6,1,3,0,0.535714,0.364286,0.100000,4.642857
23,23,24,18,0.055556,1.000000,0.333333,0.111111,0.111111,0.722222,0.500000,...,10,2,6,0,4,0,0.377778,0.394444,0.227778,6.222222
24,24,25,27,0.259259,1.000000,1.000000,0.703704,1.000000,1.000000,0.888889,...,10,5,4,0,2,0,0.796296,0.137037,0.066667,2.037037
25,25,26,4,0.500000,0.500000,0.500000,0.250000,0.500000,0.500000,0.250000,...,8,1,2,0,7,2,0.450000,0.125000,0.425000,5.500000
26,26,27,6,0.000000,1.000000,0.000000,0.000000,0.333333,1.000000,0.666667,...,5,2,5,1,4,3,0.333333,0.300000,0.366667,6.666667
27,27,28,23,0.173913,1.000000,1.000000,0.130435,0.565217,1.000000,0.913043,...,9,5,3,1,3,0,0.656522,0.186957,0.156522,3.434783
28,28,29,29,0.482759,1.000000,0.551724,0.413793,0.448276,0.862069,0.724138,...,9,3,6,1,6,0,0.589655,0.213793,0.196552,4.103448
29,29,30,15,0.666667,1.000000,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680000,0.126667,0.193333,3.200000

In [28]:
n_rows_n_leaf = new_test_summary.loc[new_test_summary.index.repeat(new_test_summary.No_of_cells)]

In [29]:
n_rows_n_leaf

,Unnamed: 0,dataset,No_of_cells,1_in_col_1,1_in_col_2,1_in_col_3,1_in_col_4,1_in_col_5,1_in_col_6,1_in_col_7,...,max 1 in a row,min 1 in a row,max 2 in a row,min 2 in a row,max 0 in a row,min 0 in a row,avg no 1 in a row,avg no 2 in a row,avg no 0 in a row,avg no 0 and 2 in a row
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,4,3,4,3,4,3,0.325,0.325000,0.350000,6.75
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,4,3,4,3,4,3,0.325,0.325000,0.350000,6.75
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,4,3,4,3,4,3,0.325,0.325000,0.350000,6.75
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,4,3,4,3,4,3,0.325,0.325000,0.350000,6.75
1,1,2,19,0.684211,1.00,0.947368,0.473684,0.368421,1.000000,0.736842,...,10,4,4,0,3,0,0.700,0.178947,0.121053,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680,0.126667,0.193333,3.20
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680,0.126667,0.193333,3.20
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680,0.126667,0.193333,3.20
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680,0.126667,0.193333,3.20
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,10,2,4,0,6,0,0.680,0.126667,0.193333,3.20

In [30]:
n_rows_n_leaf.to_csv(r'n_rows_n_leaf.csv')

In [31]:
new_col = n_rows_n_leaf.reindex(columns=[*n_rows_n_leaf.columns.tolist(),'bit1','bit2','bit3','bit4','bit5','bit6','bit7','bit8','bit9','bit10'], fill_value=None)

In [32]:
new_col

,Unnamed: 0,dataset,No_of_cells,1_in_col_1,1_in_col_2,1_in_col_3,1_in_col_4,1_in_col_5,1_in_col_6,1_in_col_7,...,bit1,bit2,bit3,bit4,bit5,bit6,bit7,bit8,bit9,bit10
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,19,0.684211,1.00,0.947368,0.473684,0.368421,1.000000,0.736842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
new_col.to_csv(r'new_col.csv')

In [55]:
import glob
read_files = glob.glob("*.txt")
with open("merged.txt", "wb") as outfile:
    for f in read_files:
        with open(f, "rb") as infile:
            outfile.write(infile.read())

In [56]:
with open("merged.txt", "r") as s:
    lines = s.readlines()
with open("merged.txt", "w") as s:
    for line in lines:
        if line.strip("\n") != "cell	state":
            s.write(line)

In [61]:
#txt = pd.read_csv('merged.txt', sep='\t', header=None)

In [62]:
#txt.tail(10)

      0           1
414   6  1101000011
415   7  1111111211
416   8   101210021
417   9  2111112001
418  10   100212000
419  11  1110111221
420  12   100212221
421  13  1111111111
422  14  1111111111
423  15  1111110121

In [63]:
#txt.columns = ["cell", "state"]

In [65]:
#txt.tail(10)

     cell       state
414     6  1101000011
415     7  1111111211
416     8   101210021
417     9  2111112001
418    10   100212000
419    11  1110111221
420    12   100212221
421    13  1111111111
422    14  1111111111
423    15  1111110121

In [82]:
txt = pd.read_table('merged.txt', names=('cell', 'state'),dtype={'cell': str, 'state': str})

In [88]:
txt.tail(10)

    cell       state
414    6  1101000011
415    7  1111111211
416    8  0101210021
417    9  2111112001
418   10  0100212000
419   11  1110111221
420   12  0100212221
421   13  1111111111
422   14  1111111111
423   15  1111110121

In [91]:
splited = txt['state'].apply(lambda x: pd.Series(list(x)))

In [95]:
splited

     0  1  2  3  4  5  6  7  8  9
0    2  0  1  2  2  1  0  0  0  1
1    2  1  1  2  2  1  0  0  0  1
2    2  0  1  2  2  1  0  0  0  1
3    2  2  1  2  2  1  0  0  0  1
4    1  1  1  2  1  1  1  1  2  1
..  .. .. .. .. .. .. .. .. .. ..
419  1  1  1  0  1  1  1  2  2  1
420  0  1  0  0  2  1  2  2  2  1
421  1  1  1  1  1  1  1  1  1  1
422  1  1  1  1  1  1  1  1  1  1
423  1  1  1  1  1  1  0  1  2  1

[424 rows x 10 columns]

In [96]:
splited.to_csv(r'splited.csv')

In [128]:
final_output = pd.read_csv('new_col.csv')

In [134]:
final_output_test = final_output.drop(final_output.columns[[0,1]], axis=1)

In [130]:
final_output_test

,dataset,No_of_cells,1_in_col_1,1_in_col_2,1_in_col_3,1_in_col_4,1_in_col_5,1_in_col_6,1_in_col_7,1_in_col_8,...,bit1,bit2,bit3,bit4,bit5,bit6,bit7,bit8,bit9,bit10
0,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,2,0,1,2,2,1,0,0,0,1
1,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,2,1,1,2,2,1,0,0,0,1
2,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,2,0,1,2,2,1,0,0,0,1
3,1,4,0.000000,0.25,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,2,2,1,2,2,1,0,0,0,1
4,2,19,0.684211,1.00,0.947368,0.473684,0.368421,1.000000,0.736842,0.526316,...,1,1,1,2,1,1,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,1,1,1,0,1,1,1,2,2,1
420,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,0,1,0,0,2,1,2,2,2,1
421,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,1,1,1,1,1,1,1,1,1,1
422,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,1,1,1,1,1,1,1,1,1,1
423,30,15,0.666667,1.00,0.733333,0.733333,0.600000,0.866667,0.533333,0.333333,...,1,1,1,1,1,1,0,1,2,1

In [135]:
final_output_test.to_csv(r'final_output_test.csv',index=False)